---
import Layout from '../layouts/layout.astro'
const style = 'purple'
const response = await fetch('http://jsonplaceholder.typicode.com/users?_limit-10')
const users = await response.json();
const visible = false

---


	<Layout>
	<h1>Astro Baby!</h1>

    
	</Layout>

